@use './../../styles/base/variables' as *;
@use './../../styles/mixins/mixins' as *;

.program_content {
  max-width: $max-width;
  gap: $gap-content;
  padding: 30px;
  margin: 0 -25px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $program-background;

  @include respond-to(xs) {
    margin: 0 -10px;
    padding: 10px;
  }

  @include respond-to(sm) {
    margin: 0 -10px;
    padding: 15px;
  }

  @include respond-to(md) {
    margin: 0 -15px;
    padding: 20px;
  }

  @include respond-to(lg) {
    margin: 0 -20px;
    padding: 30px;
  }

  @include respond-to(xl) {
    margin: 0 -25px;
  }

  &_header {
    @include property-text(
      $font-angst-bold,
      700,
      $program-header-color,
      36px,
      50px,
      0%
    );
    text-align: $align;
    margin-bottom: 20px;

    @include respond-to(xs) {
      font-size: 24px;
      line-height: 28px;
    }

    @include respond-to(sm) {
      font-size: 28px;
      line-height: 32px;
    }

    @include respond-to(md) {
      font-size: 32px;
      line-height: 40px;
    }

    @include respond-to(lg) {
      font-size: 36px;
      line-height: 50px;
    }
  }

  .module_buttons {
    display: flex;
    justify-content: center;
    gap: ($gap-content * 1.5);
    margin: 20px 0;
    @include respond-to(xs) {
      gap: ($gap-content * 1.5);
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    @include respond-to(sm) {
      gap: ($gap-content * 2);
      flex-direction: row;
      margin: 20px 0;
    }

    @include respond-to(md) {
      gap: ($gap-content * 7.5);
    }

    @include respond-to(lg) {
      gap: ($gap-content * 9.5);
    }
    .module_button_text {
      @include property-text(
        $font-felidae,
        400,
        $button-programm-color,
        32px,
        35px,
        0%
      );
      text-align: $align;
      @include respond-to(xs) {
        font-size: 24px;
        line-height: 28px;
      }

      @include respond-to(sm) {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 7px;
      }

      @include respond-to(md) {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 17px;
      }

      @include respond-to(lg) {
        font-size: 32px;
        line-height: 35px;
      }
    }

    button {
      padding: 15px 40px;
      border-radius: 50px;
      background: $module-btn-color;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      transition: background-color 0.3s ease;
      box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      a {
        color: $black-color-a;
        font-family: $font-playfair;
      }

      &:hover {
        background-color: $hover-color;
      }

      &:active {
        background-color: $hover-color;
        transform: scale(0.98);
      }
      @include respond-to(xs) {
        font-size: 14px;
        line-height: 16px;
      }

      @include respond-to(sm) {
        font-size: 16px;
        line-height: 22px;
      }

      @include respond-to(md) {
        font-size: 22px;
        line-height: 26px;
      }

      @include respond-to(lg) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .description {
    @include property-text(
      $font-montserrat,
      400,
      $description-color,
      20px,
      24px,
      5%
    );
    text-align: $align;
    margin-top: 34px;
    margin-bottom: 30px;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;

    @include respond-to(xs) {
      font-size: 14px;
      line-height: 16px;
    }

    @include respond-to(sm) {
      font-size: 16px;
      line-height: 18px;
    }

    @include respond-to(md) {
      font-size: 18px;
      line-height: 20px;
    }

    @include respond-to(lg) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .line {
    margin: 20px auto 20px;
    width: 80%;
    height: 1px;
    background-color: white;
  }

  .learning_section {
    display: grid;
    gap: 100px;
    @include respond-to(xs) {
      gap: 40px;
    }
    @include respond-to(md) {
      gap: 100px;
    }
    &_learning_item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
      text-align: $align;
      max-width: 810px;
      width: 100%;
      margin: 0 auto;

      @include respond-to(xs) {
        gap: 20px;
        grid-template-columns: 1fr;
        justify-items: center;
      }

      @include respond-to(sm) {
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond-to(md) {
        gap: 30px;
      }

      @include respond-to(lg) {
        gap: 32px;
      }
    }

    &_learning_item_1,
    &_learning_item_2 {
      @include property-text(
        $font-playfair,
        400,
        $learning-item-color,
        36px,
        48px,
        0%
      );
      text-align: $align;

      @include respond-to(xs) {
        font-size: 24px;
        line-height: 28px;
        order: -1;
      }

      @include respond-to(sm) {
        font-size: 28px;
        line-height: 32px;
        order: 1;
      }

      @include respond-to(md) {
        font-size: 32px;
        line-height: 36px;
      }

      @include respond-to(lg) {
        font-size: 36px;
        line-height: 48px;
      }
    }

    &_learning_item_2 {
      order: -1;
    }

    &_learning_img_2 {
      justify-self: center;
    }
  }
}
