@use './../../styles/base/variables' as *;
@use './../../styles/mixins/mixins' as *;

.program_content {
  @include respond-to(xs) {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
  }
  @include respond-to(sm) {
  }
  @include respond-to(md) {
  }
  @include respond-to(xl) {
  }
  .mainContent {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    @include respond-to(lg) {
      flex-direction: row;
    }
  }
  .module {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &_header,
    &_header_2 {
      text-align: center;
      border: 4px solid rgb(95, 101, 81);
      border-radius: 41px;
      background: rgba(205, 196, 183, 0);

      width: 100%;
      padding: 30px 0;

      & span {
        display: block;
        @include property-text(
          $font-montserrat,
          400,
          rgb(225, 205, 184),
          38px,
          36px,
          0
        );
        margin-bottom: 15px;
      }

      p {
        @include property-text($font-angst-bold, 700, white, 30px, 32px, 0);
        text-transform: uppercase;
        text-align: center;
      }
    }
    &_header_2 {
      padding: 47px;
    }
    &_list {
      border: 4px solid rgb(95, 101, 81);
      background: rgba(56, 50, 36, 0.26);
      list-style-type: disc;
      padding-left: 20px;
      gap: 20px;
      overflow: hidden;
      z-index: 101;
    }
    &_list li {
      padding: 5px;
      @include property-text(
        $font-montserrat,
        400,
        rgb(205, 196, 183),
        14px,
        20px,
        5%
      );
      text-indent: -5px;
      height: auto;
      position: relative;
    }
    &_list li::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: -20px;
      width: 105%;
      height: 1px;
      background-color: #5f6551;
      border: 1px solid rgb(95, 101, 81);
    }
    &_list li:last-child::after {
      width: 0%;
    }
    &_list li + li {
      margin-top: 20px;
    }
  }
  .descriprion {
    margin-top: 100px;
    width: 100%;
    text-align: center;
  }
  .descripritionTitle {
    @include property-text(
      $font-angst-bold,
      700,
      rgb(225, 205, 184),
      36px,
      50px,
      0%
    );
  }
}
.programImage {
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 100;
}
.arrowDown {
  display: flex;
  justify-content: center;
}
