@use './../../styles/base/variables' as *;
@use './../../styles/mixins/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond-to(xs) {
    gap: 20px;
  }

  @include respond-to(sm) {
    gap: 30px;
  }

  @include respond-to(md) {
    gap: 40px;
  }

  @include respond-to(lg) {
    gap: 50px;
  }

  @include respond-to(xl) {
    gap: 60px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 45px;
  padding: 55px 50px;
  margin-top: 65px;
  width: 100%;

  background: rgb(68, 73, 58,.6);
  border: 3px solid rgb(222, 210, 195);
  border-radius: 3px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @include property-text($font-felidae, 400, $text-info, 32px, 35px, 0%);

  @include respond-to(xs) {
    padding: 20px 10px;
    gap: 20px;
    margin-top: 30px;
    font-size: 24px;
    line-height: 28px;
  }

  @include respond-to(sm) {
    padding: 40px 30px;
    gap: 30px;
    margin-top: 40px;
    font-size: 28px;
    line-height: 32px;
  }

  @include respond-to(md) {
    padding: 50px 40px;
    gap: 40px;
    margin-top: 50px;
    font-size: 32px;
    line-height: 35px;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;

    @include respond-to(sm) {
      align-items: end;
    }
  }

  &_sub-text {
    width: 100%;
    text-align: start;
  }
  &_sub-text-even{
    text-align: end
  }

  &_item-title {
    @include property-text($font-angst-bold, 700, $title-info, 36px, 48px, 0%);
    
    text-transform: uppercase;

    @include respond-to(xs) {
      font-size: 16px;
      line-height: 20px;
    }

    @include respond-to(sm) {
      font-size: 22px;
      line-height: 32px;
    }

    @include respond-to(md) {
      font-size: 30px;
      line-height: 40px;
    }
    @include respond-to(xl) {
      font-size: 36px;
      line-height: 48px;
    }
  }

  &_item-subtitle,
  &_item-description{
    @include property-text($font-montserrat, 400, $title-info, 24px, 33px, 0%);
  }

  &_item-subtitle {
    margin: 25px 0 22px;

    @include respond-to(xs) {
      margin: 15px 0 12px;
    }

    @include respond-to(sm) {
      margin: 20px 0 18px;
    }
  }
  &_item-description {
    @include respond-to(xs) {
      font-size: 22px;
      line-height: 28px;
    }

    @include respond-to(md) {
      font-size: 32px;
      line-height: 35px;
    }
  }
}
.contentProcess{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  gap: 25px;
}
.processTitle{
  @include property-text($font-angst-bold, 700, $title-info, 36px, 50px, 0%);
  margin-left: 15px;
}
.processText{
  @include property-text($font-montserrat, 400, $title-info, 16px, 18px, 5%);
  max-width: 780px;
  width: 100%;
  @include respond-to(xs){
    font-size: 14px;
    line-height: 18px;
  }
  @include respond-to(lg) {
    font-size: 16px;
    line-height: 24px;
  }
}
