@use './../../styles/base/variables' as *;
@use './../../styles/mixins/mixins' as *;

.cost_section {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: 1200px;
  background-image: url('./../../assets/images/cost-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;

  @include respond-to(xs) {
    margin: 0 -10px;
    height: 900px;
  }

  @include respond-to(sm) {
    margin: 0 -10px;
    height: 1200px;
  }
  @include respond-to(md) {
    margin: 0 -15px;
  }

  @include respond-to(lg) {
    margin: 0 -20px;
    height: 1400px;
  }

  @include respond-to(xl) {
    margin: 0 -25px;
  }

  &_price {
    border: 3px solid rgb(119, 125, 105);
    border-radius: 100px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(48, 44, 34, 0.4);

    margin: 75px 0;

    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-to(xs) {
      width: 370px;
      height: 180px;
      padding: 30px;
      margin: 35px 0;
      border-radius: 60px;
    }

    @include respond-to(sm) {
      width: 550px;
      height: 220px;
      padding: 40px;
      margin: 45px 0;
    }

    @include respond-to(md) {
      width: 620px;
      height: 260px;
      padding: 40px;
      margin: 55px 0;
      border-radius: 80px;
    }

    @include respond-to(lg) {
      width: 750px;
      height: 300px;
      padding: 60px;
      margin: 75px 0;
      border-radius: 100px;
    }
  }
}
.cost_title{
  @include property-text($font-angst-bold, 700, #E1CDB8, 48px, 52px, 0%);
  margin-top: 70px;
  text-align: center;
  width: 100%;
  & span{
    @include property-text($font-angst-bold, 700, #BBAC9B, 32px, 52px, 0%);
  }

  @include respond-to(xs) {
    font-size: 32px;
    line-height: 30px;
    max-width: 340px;
  }
  @include respond-to(sm) {
    font-size: 40px;
    line-height: 40px;
    max-width: 400px;
  }
  @include respond-to(md) {
    font-size: 44px;
    line-height: 46px;
    max-width: 450px;
  }
  @include respond-to(lg) {
    font-size: 48px;
    line-height: 52px;
    max-width: 500px;
  }
}

.cost_price_text{
  @include property-text($font-montserrat, 400, #E1CDB8, 24px, 32px, 0%);
  &:first-child{
    margin-bottom: 30px;
    @include respond-to(xs) {
      margin-bottom: 15px;
    }
    @include respond-to(lg) {
      margin-bottom: 30px;
    }
  }
  & span{
    @include property-text($font-angst-bold, 700, #E1CDB8, 36px, 32px, 0%);
    @include respond-to(xs) {
      font-size: 20px;
      line-height: 18px;
    }
    @include respond-to(sm) {
      font-size: 28px;
      line-height: 24px;
    }
    @include respond-to(md) {
      font-size: 32px;
      line-height: 28px;
    }
    @include respond-to(lg) {
      font-size: 36px;
      line-height: 32px;
    }
  }
  @include respond-to(xs) {
    font-size: 12px;
    line-height: 22px;
  }
  @include respond-to(sm) {
    font-size: 16px;
    line-height: 26px;
  }
  @include respond-to(md) {
    font-size: 20px;
    line-height: 28px;
  }
  @include respond-to(lg) {
    font-size: 24px;
    line-height: 32px;
  }
}
.spec_span{
  font-size: 24px !important;
  font-family: $font-montserrat !important;

  @include respond-to(xs) {
    font-size: 20px !important;
  }
  @include respond-to(sm) {
    font-size: 22px !important;
  }
  @include respond-to(md) {
    font-size: 24px !important;
  }
}

.costBlock {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;

  @include respond-to(xs) {
    max-width: 340px;
  }

  @include respond-to(sm) {
    max-width: 500px;
  }

  @include respond-to(md) {
    max-width: 600px;
  }

  @include respond-to(lg) {
    max-width: 800px;
  }

  & span {
    display: block;
  }
}
.costListItem{
  @include property-text($font-montserrat, 700, #E1CDB8, 24px, 28px, 0%);
  @include respond-to(xs) {
    font-size: 16px;
    line-height: 20px;
  }

  @include respond-to(sm) {
    font-size: 18px;
    line-height: 22px;
  }

  @include respond-to(md) {
    font-size: 20px;
    line-height: 24px;
  }

  @include respond-to(lg) {
    font-size: 24px;
    line-height: 28px;
  }
}
