@use './../mixins/mixins' as *;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
.content {
  background: linear-gradient(
    180deg,
    rgb(79, 80, 64),
    rgb(95, 90, 74) 24.9%,
    rgb(65, 66, 52) 70.4%
  );
}
