@use './../mixins/mixins' as *;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;

  @include respond-to(xs) {
    padding: 0 10px;
  }

  @include respond-to(md) {
    padding: 0 15px;
  }

  @include respond-to(lg) {
    padding: 0 20px;
  }

  @include respond-to(xl) {
    padding: 0 25px;
  }
}
