// Цвета
$text-color: #451421;
$title-color: #6e2c3e;
$btn-text-color: #f1ebe9;

$text-info: #1e1e1e;
$title-info: #dcccb9;

$text-color-other: #e1cdb8;
$title-color-other: #dfccc1;
$btn-text-color: #f1ebe9;
$btn-text-color-other: #1f2319;

// Фоны
$background-primary: linear-gradient(
  180deg,
  rgb(79, 80, 64),
  rgb(95, 90, 74) 24.9%,
  rgb(68, 73, 58) 70.4%
);
$background-secondary: #cbb7a1;
$background-program: #515945e3;
$background-text: #b2a08c;

$background-button: #91917c;
$background-button-other: #5f5643;
$background-relevance: linear-gradient(
  180deg,
  rgb(79, 80, 64),
  rgb(95, 90, 74) 24.9%,
  rgb(68, 73, 58) 70.4%
);

$background-color: #f0e7dc;
$title-text-color: rgb(225, 205, 184);
$learning-item-color: rgb(195, 177, 158);
$teachers__title: rgb(110, 70, 81);
$program-background: rgba(205, 196, 183, 0);
$program-header-color: rgb(223, 204, 193);
$teachers-background: rgb(220, 204, 185);
$button-programm-color: rgb(225, 205, 184);
$black-color-a: rgb(31, 35, 25);
$description-color: rgb(218, 196, 171);
$hover-color: #b8a894;
$module-btn-color: rgb(145, 145, 124);

$align: center;
$max-width: 1200px;
$gap-content: 20px;

//Шрифты
$font-montserrat: 'Montserrat-Regular', sans-serif;
$font-montserrat-light: 'Montserrat-Light', sans-serif;
$font-felidae: 'Felidae-Regular', sans-serif;
$font-playfair: 'PlayfairDisplay-Regular', sans-serif;
$font-angst-bold: 'Angst-Bold', sans-serif;
$font-angst-thin: 'Angst-Thin', sans-serif;
$font-playfair-bold: 'PlayfairDisplay-Bold', sans-serif;

// Точки адаптива
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
