// Цвета
$text-color: #451421;
$title-color: #6e2c3e;
$btn-text-color: #f1ebe9;

$text-color-other: #dac4ab;
$title-color-other: #dfccc1;
$btn-text-color: #f1ebe9;
$btn-text-color-other: #1f2319;

// Фоны
$background-primary: #dcccb9;
$background-secondary: #cbb7a1;
$background-program: #515945e3;
$background-text: #b2a08c;

$background-button: #91917c;
$background-button-other: #5f5643;

//Шрифты
$font-montserrat: 'Montserrat-Regular', sans-serif;
$font-felidae: 'Felidae-Regular', sans-serif;
$font-playfair: 'PlayfairDisplay-Regular', sans-serif;
$font-angst-bold: 'Angst-Bold', sans-serif;
$font-playfair-bold: 'PlayfairDisplay-Bold', sans-serif;

// Точки адаптива
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
